@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 *{
    padding: 0;
 }
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* changes */
body {
  text-align: center;
  display: flex;
  flex-direction: column;

}
ul, ol,a {
  list-style: none;
  text-decoration: none;
  color: gray;
}
.header, .footer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-height: fit-content;
  padding: 10px;
}
.footer {
  align-items: flex-end;
  background-color: lightgray;
  padding: 0 10px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex: 1;
}

 ul {
  display: flex;
  gap: 1rem;
 }